<ngx-spinner bdColor="rgba(51,51,51,0.8)" color="#fff" size="medium" type="ball-scale-multiple">
	<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<br />
<br />
<div class="container container-fluid">
	<div>
		<form [formGroup]="employeeForm">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="id">Id</label>
				<div class="col-sm-10">
					<input
						[ngClass]="editMode == true ? 'form-control' : 'form-control-plaintext'"
						formControlName="id"
						id="id"
						readonly
						type="text" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="employeeId">employeeId</label>
				<div class="col-sm-10">
					<input
						[ngClass]="editMode == true ? 'form-control' : 'form-control-plaintext'"
						formControlName="employeeId"
						id="employeeId"
						readonly
						type="text" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="firstName">firstName</label>
				<div class="col-sm-10">
					<input
						[ngClass]="editMode == true ? 'form-control' : 'form-control-plaintext'"
						[readOnly]="!editMode"
						formControlName="firstName"
						id="firstName"
						type="text" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="lastName">lastName</label>
				<div class="col-sm-10">
					<input
						[ngClass]="editMode == true ? 'form-control' : 'form-control-plaintext'"
						[readOnly]="!editMode"
						formControlName="lastName"
						id="lastName"
						type="text" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="email">Email</label>
				<div class="col-sm-10">
					<input
						[ngClass]="editMode == true ? 'form-control' : 'form-control-plaintext'"
						[readOnly]="!editMode"
						formControlName="email"
						id="email"
						type="text" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="phone">phone</label>
				<div class="col-sm-10">
					<input
						[ngClass]="editMode == true ? 'form-control' : 'form-control-plaintext'"
						[readOnly]="!editMode"
						formControlName="phone"
						id="phone"
						type="text" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="salary">salary</label>
				<div class="col-sm-10">
					<input
						[ngClass]="editMode == true ? 'form-control' : 'form-control-plaintext'"
						[readOnly]="!editMode"
						formControlName="salary"
						id="salary"
						type="text" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="location">location</label>
				<div class="col-sm-10">
					<input
						[ngClass]="editMode == true ? 'form-control' : 'form-control-plaintext'"
						[readOnly]="!editMode"
						formControlName="location"
						id="location"
						type="text" />
				</div>
			</div>
		</form>
	</div>

	<div class="container container-fluid">
		<h5>
			<button (click)="updateEmployee()" *ngIf="editMode" class="btn btn-primary" style="margin-right: 10px">Update</button>
			<button (click)="cancelUpdate()" *ngIf="editMode" class="btn btn-outline-danger" style="margin-right: 10px">Cancel</button>
			<button (click)="editEmployee()" *ngIf="!editMode" class="btn btn-primary" style="margin-right: 10px">Edit</button>
			<button *ngIf="!editMode" class="btn btn-primary" routerLink="/employee/list">Back</button>
		</h5>
	</div>
</div>
